body, html {
	background-color: White;
}

/**
	HI-RES Screen
 **/
@media screen and (min-width: 1025px) {
	.block h3 {
		font-size: 30px;
	}
	.block {
		vertical-align: middle;
		position: relative;
		display: inline-block;
		border-style: solid;
		border-color: #000;
		border-radius: 24px;
		background-color: #d3d3d3;
		margin-left: 10px;
		margin-right: 10px;
		width: 30%;
		height: 13vw;
	}	
	.row {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}	
	.title {
		color: DarkCyan;
		text-align: center;
		text-decoration: underline;
		margin-top: -20px;
		margin-bottom: -15px;
	}
	.title h1 {
		font-size: 400%;
	}
	img.drop-button {
		width: auto;
		height: 80%;
		float: right;
		margin-right: 220px;
		cursor: pointer;
	}
	.dropdown {
		margin-top: 25px;
		margin-bottom: -55px;
		height: 75px;
	}
}

/**
	Desktop/Laptop
 **/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.block h3 {
		font-size: 33px;
	}
	.block {
		vertical-align: middle;
		position: relative;
		display: inline-block;
		border-style: solid;
		border-color: #000;
		border-radius: 24px;
		background-color: #d3d3d3;
		margin-left: 10px;
		margin-right: 10px;
		width: 43%;
		height: 20vw;
	}	
	.row {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	.title {
		color: DarkCyan;
		text-align: center;
		text-decoration: underline;
		margin-top: -30px;
		margin-bottom: -30px;
	}
	.title h1 {
		font-size: 400%;
	}
	img.drop-button {
		width: auto;
		height: 100%;
		float: right;
		margin-right: 50px;
		cursor: pointer;
	}
	.dropdown {
		margin-top: 25px;
		margin-bottom: -30px;
		height: 9vw;
	}
}

/**
	Phone size
 **/
@media screen and (max-width: 767px) {
	.block h3 {
		font-size: 25px;
	}
	.block {
		vertical-align: middle;
		position: relative;
		display: inline-block;
		border-style: solid;
		border-color: #000;
		border-radius: 24px;
		background-color: #d3d3d3;
		margin-left: 10px;
		margin-right: 10px;
		width: 40%;
		height: 40vw;
	}	
	.row {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.title {
		color: DarkCyan;
		text-align: center;
		text-decoration: underline;
		margin-top: -20px;
		margin-bottom: -20px;
	}
	.title h1 {
		font-size: 400%;
	}
	img.drop-button {
		width: auto;
		height: 100%;
		float: right;
		margin-right: 10px;
		cursor: pointer;
	}
	.dropdown {
		margin-top: 25px;
		margin-bottom: -40px;
		height: 13vw;
	}
}


