.iconBar {
	border-style: solid;
}

.title {
	color: DarkCyan;
	text-align: center;
	text-decoration: underline;
}

.title h1 {
	font-size: 400%;
}

.row {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.block {
	vertical-align: middle;
	position: relative;
	display: inline-block;
	width: 30%;
	height: 50vw;
	border-style: solid;
	border-color: #000;
	background-color: #d3d3d3;
	margin-left: 15px;
	margin-right: 15px;

}


.block h3 {
	color: DarkCyan;
	font-size: 300%
}

#block1 {

}
