

#ing_input {
	font-size: 24px;
}

#add {
	color: maroon;
	text-align: center;
	display: inline-block;
	font-size: 24px;
}

#list_item {
	font-size: 20px;
	font-family: Georgia;
	color: maroon;
}
