
.buttons {
  text-align: center;
  margin-top: 65px;
  /*padding: 20px;*/
}

.logos {
  border: solid;
}

.logos #home  {
  float: right;
  margin-right: 21%;
}

.logos #profile {
  float: right;
}

#ing_input {
	font-size: 24px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  vertical-align: middle;
  /*position: relative;
  display: inline-block;*/
  width: 50%;
}

#add {
  background-color: white;
  color: black;
  border-color: black;
	font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.3s;
  /*padding: 16px 32px;*/
  vertical-align: middle;
}

#add:hover {
  background-color: #555555;
  color: white;
}

#list_item {
	font-size: 20px;
	font-family: Georgia;
	color: black;
  display: inline-block;
  list-style-type: circle;
  margin-left: -50%;
}


#start {
  display: inline-block;
  position: fixed;
  bottom: 15px;
  margin-left: -9.5%;


  background-color: white;
  color: black;
  border-color: black;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.3s;
}
